<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <title>Account deleted</title>
</head>
<body>
    <section>
        <header>Your account has been deleted successfully</header>
        <a href="/home">
            <button tabindex="-1">
                Return to home page
            </button>
        </a>
    </section>
</body>
</html>