<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logging page</title>
</head>
<body>
    <main>
        <header>
            Welcome back! Log in
        </header>
        <form action="/users-table" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%= locals.registrationParams.username || "" %>"/>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" value="<%= locals.registrationParams.password || "" %>"/>
            <input type="submit" value="Log in">
        </form>
    </main>
</html>