<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users table</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/users-table.css">
</head>
<body>
    <main>
        <header>Hi <%= locals.loggingParams.username %></header>
        <form 
            action="/loggedout-page"
            class="form-logout" 
            method="post"
        >
            <input type="submit" value="Log out" id="logout" name="">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < locals.allUsersLoggingParams.length; i++) { %>
                    <tr>
                      <td><%= allUsersLoggingParams[i].username %></td>
                      <td><%= allUsersLoggingParams[i].password %></td>
                    </tr>
                 <% } %>
            </tbody>
        </table>
    </main>
</body>
</html>