<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light mb-4">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/loggedout">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/deleted-account">Delete account</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container-sm d-flex flex-column align-items-center">

        <header> 
            <h2 class="text-secondary">
                Welcome <span class="text-primary"><%= locals.username %> </span>
            </h2>
        </header>

        <hr>

        <form action="/note-created" method="post" class="d-flex flex-column gap-3">
            <div class="d-flex justify-content-between align-items-center">
                <label class="me-4 w-25" for="noteTitle">Title</label>
                <input class="form-control w-auto" type="text" id="noteTitle" name="noteTitle" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <label class="me-4 w-25" for="noteText">Text</label>
                <input class="form-control w-auto" type="text" id="noteText" name="noteText" />
            </div>
            <input class="align-self-start btn btn-primary" type="submit" value="Create note">
        </form>

        <hr>

        <table class="container w-50 mt-3 table table-light table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>

                <% for (let i = 0; i < locals.notes.length; i++) { %>
                    <tr>
                        <td><%= locals.notes[i].title %></td>
                        <td><%= locals.notes[i].text %></td>
                    </tr>   
                <% } %>

            </tbody>
        </table>
    </main>
</body>
</html>