<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/table.css">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <header>Welcome <%= locals.username %></header>
        <nav>
            <a href="/loggedout">
                <button>Log out</button>
            </a>
            <a href="/deleted-account">
                <button>Delete account</button>
            </a>
        </nav>

        <hr>

        <form action="/note-created" method="post" id="create-note-form">
            <div>
                <label for="noteTitle">Title</label>
                <input type="text" id="noteTitle" name="noteTitle" />
            </div>
            <div>
                <label for="noteText">Text</label>
                <input type="text" id="noteText" name="noteText" />
            </div>
            <input type="submit" value="Create note">
        </form>

        <hr>

        <table class="notes-container">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>

                <% for (let i = 0; i < locals.notes.length; i++) { %>
                    <tr>
                        <td><%= locals.notes[i].title %></td>
                        <td><%= locals.notes[i].text %></td>
                    </tr>   
                <% } %>

            </tbody>
        </table>
    </main>
</body>
</html>